<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<CodeBlocks_project_file>
	<FileVersion major="1" minor="6" />
	<Project>
		<Option title="{{project_name}}" />
		<Option pch_mode="2" />
		<Option compiler="arm-elf-gcc" />
		<Build>
			<Target title="Debug">
				<Option output="bin/Debug/{{project_name}}.elf" prefix_auto="1" extension_auto="0" />
				<Option object_output="obj/Debug/" />
				<Option type="1" />
				<Option compiler="arm-elf-gcc" />
				<Option use_console_runner="0" />
				<Compiler>
				        {%  for f in debug_flags -%}
					<Add option="{{f}}" />
				        {%  endfor -%}
				</Compiler>
				<Linker>
					<Add option='-Wl,-Map,&quot;bin/Debug/{{project_name}}.map&quot;' />
				</Linker>
			</Target>
			<Target title="Release">
				<Option output="bin/Release/{{project_name}}.elf" prefix_auto="1" extension_auto="0" />
				<Option object_output="obj/Release/" />
				<Option type="1" />
				<Option compiler="arm-elf-gcc" />
				<Option use_console_runner="0" />
				<Linker>
					<Add option='-Wl,-Map,&quot;bin/Release/{{project_name}}.map&quot;' />
				</Linker>
			</Target>
		</Build>
		<Compiler>
			<Add option="--verbose" />
			<Add option="-mcpu=cortex-m0plus" />
			<Add option="-mthumb" />
			<Add option="-Wall" />
			<Add option="-fno-common" />
			{%  for f in comp_flags -%}
			<Add option="{{f}}" />
			{%  endfor -%}
			{%  for f in include_paths -%}
                        <Add directory="{{f}}" />
			{%  endfor -%}
		</Compiler>
		<Linker>
			{%  for f in ld_flags -%}
			<Add option="{{f}}" />
			{%  endfor -%}
			<Add option="-T {{linker_script}}" />
			{%  for f in libraries -%}
			<Add library="{{f}}" />
			{%  endfor -%}
		</Linker>
		{%  for f in headers -%}
		<Unit filename="{{f}}"/>
		{%  endfor -%}
		{%  for f in c_sources -%}
		<Unit filename="{{f}}">
			<Option compilerVar="CC" />
		</Unit>
		{%  endfor -%}
		{%  for f in s_sources -%}
		<Unit filename="{{f}}">
			<Option compilerVar="CPP" />
		</Unit>
		{%  endfor -%}
		{%  for f in cpp_sources -%}
		<Unit filename="{{f}}">
			<Option compilerVar="CPP" />
		</Unit>
		{%  endfor -%}
		<Extensions>
		</Extensions>
	</Project>
</CodeBlocks_project_file>
